.hero {
  display: flex;
  height: 100dvh;
  align-items: center;
  justify-content: center;
}

.hero__container {
  position: absolute;
}

.hero__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 46%;
}

.hero__title {
  font-size: 11rem;
  text-align: center;
  color: transparent;
  background-clip: text;
  font-weight: var(--extraBold-800);
  background-image: var(--gradient);
  background-size: 300% 300%;
  cursor: default;
  animation: gradient-move 6s ease infinite;
}

@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hero__text {
  font-size: 3rem;
  text-align: right;
  margin-right: 0.4rem;
  color: var(--font-light);
  mix-blend-mode: difference;
  font-weight: var(--light-300);
}

.hero__copyright-container {
  left: 1rem;
  bottom: 2rem;
  display: flex;
  flex-direction: row;
  position: absolute;
  writing-mode: vertical-rl;
  text-orientation: sideways;
  transform: rotate(180deg);
}

.hero__copyright-text {
  font-size: 1.5rem;
  color: var(--gray-dark);
}

.hero__copyright-link {
  left: 1rem;
  bottom: 1rem;
  font-size: 1.5rem;
  color: var(--gray-dark);
  font-weight: var(--regular-400);
}

/* animated arrow */
.hero__arrow-container {
  width: 5rem;
  height: 7rem;
  bottom: 0rem;
  display: flex;
  cursor: pointer;
  position: absolute;
  align-items: center;
  justify-content: center;
}

.hero__arrow-down {
  opacity: 0;
  bottom: 6rem;
  width: 2.1rem;
  height: 0.48rem;
  position: absolute;
  transform: scale(0.3);
  animation: move-arrow 3s ease-out infinite;
}

.hero__arrow-down:first-child {
  animation: move-arrow 3s ease-out 1s infinite;
}

.hero__arrow-down:nth-child(2) {
  animation: move-arrow 3s ease-out 2s infinite;
}

.hero__arrow-down:before,
.hero__arrow-down:after {
  top: 0;
  width: 50%;
  content: '';
  height: 100%;
  position: absolute;
  background: var(--font-light);
}

.hero__arrow-down:before {
  left: 0;
  transform: skewY(30deg);
}

.hero__arrow-down:after {
  right: 0;
  width: 50%;
  transform: skewY(-30deg);
}

@keyframes move-arrow {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    transform: translateY(1.9rem);
  }
  66.6% {
    opacity: 1;
    transform: translateY(2.6rem);
  }
  100% {
    opacity: 0;
    transform: translateY(4.8rem) scale(0.5);
  }
}
