.footer {
  width: 100vw;
  height: 25rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.footer__container {
  display: flex;
  height: 100%;
  align-items: center;
  width: var(--content-width);
  justify-content: space-between;
}

.footer__title-container {
  display: flex;
  flex-direction: column;
}

.footer__title {
  font-size: 5rem;
  width: fit-content;
  color: transparent;
  line-height: 6.2rem;
  background-clip: text;
  font-weight: var(--extraBold-800);
  background-image: var(--gradient);
}

.footer__text {
  font-size: 2.2rem;
  text-align: right;
  line-height: 2.2rem;
  padding-right: 0.1rem;
  color: var(--font-dark);
  font-weight: var(--light-300);
}

.footer__links-container {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__link {
  font-size: 2.2rem;
  text-decoration: none;
  color: var(--font-dark);
}

.footer__link:hover {
  transition: 1s;
  color: transparent;
  background-clip: text;
  background-image: var(--gradient);
}

.footer__copyright-container {
  width: var(--content-width);
}
.footer__copyright-text {
  font-size: 1rem;
  text-align: right;
  padding-bottom: 0.4rem;
  color: var(--gray-lighter);
}
